<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Treehouse Library</title>
</head>
<body>
    <div class="container">
        <div id="media-list">
            <h1>{{ title }}</h1>
            <select v-on:change="filterList">
                <option value=''>Select a type of media</option>
                <option v-for="item in uniqueItemsList">{{ item }}</option><!-- Addd unique item to options-->
            </select>
            <ul>
                <!-- v-show="type === '' || media.type === type" --this displays all item or item based on its type -->
                <!-- v-for="media in mediaList -- loops through mediaList array in app.js-->
                <li v-for="media in mediaList" 
                    v-show="type === '' || media.type === type" 
                    v-on:click="toggleDetail(media)"
                    v-bind:class="[media.showDetail ? 'less' : 'more', media.type ]"><!-- add class to li items-->
                    <!-- media.type still needs more work for type name with space between them-->
                    <h3>{{ media.title }}</h3>
                    <div v-show="media.showDetail">
                        <p>{{ media.description }}</p>
                        <p class="byline" v-if="media.contributor">By: {{ media.contributor }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>